html  {
    scroll-behavior: smooth;
}

body {
    margin: 0%; /*display to the edge*/
    opacity: 1;
    transition: 3.5s opacity;
    letter-spacing: .2vw;
    font-family: monospace;
    font-size: 1.5;
}

body.fade-out  {
    opacity: .1;
    transition: none;
}



@keyframes moveNav   {
    from {left: -100vw;}
    to {left: 0vw;}
}

@keyframes movenavText   {
    from {top: -100vw;}
    to {top: 0vw;}
}

nav  {
    position: fixed;
    opacity: 85%;
}


@keyframes zoominoutsinglefeatured  {
    0%  {
        transform: scale(1.5,1.5);
    }
    100%  {
        transform: scale(1,1);
    }
}

/* Video */
#digital_world  {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    max-width: 100%;
    z-index: -1;
    animation: zoominoutsinglefeatured 3s;
}

/* Video text */

.video_text  {
    background: black;
    color: whitesmoke;
    width: 100%;
    padding: 20px;
    margin-top: 25%;
    opacity: 75%;
    position: relative;
    -webkit-animation: moveNav 4s;
    animation: movevideoText 4s;
}



  
.text  {
    color: whitesmoke;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: .1vw; 
    font-size: 1.5vw;
    background-color: rgba(0,0,0,0.75);
    font-weight: bold;
    border-radius: 7px 7px 7px 7px;
}
  
  
.fade  {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;  
}


/* table - column styling */

*  {
    box-sizing: border-box;
}


h2  {
    text-align: center;
}

/* Heading 1 elements  */
h1  {
    text-transform: uppercase;
    text-align: center;
    margin-top: 3%;
    color: midnightblue;
}

/* Paragraph elements */



center   {
	font-family: Perpetua, Rockwell Extra Bold;
	text-align: center;
	letter-spacing: .1vw;
	font-size: 1.5vw;
	padding-left: 5vw;
	padding-right: 5vw;
}

/* anchor */
a  {
    color: blue;
}

/* image */

img  {
    border-radius: 12px;
    max-width: 100%;
    height: 340px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
	

/* Paragraph Hover */

center:hover  {
    transition: transform 2s;
    transform: scale(1.1);
}

p:hover  {
    transition: transform 0.5s;
    transform: scale(1.01);
}

/* heading 1 hover */
h1:hover  {
    color: black;
    font-weight: normal;
}



/* footer */
footer  {
    padding: 1%;
    background-color: black;
}
